<form [formGroup]="form" (ngSubmit)="submit(form)">

  <!-- Name -->
  <div style="padding-bottom: 15px">
    <strong>Name</strong>
    <app-field>
      <input formControlName="name" />
    </app-field>
  </div>

  <!-- Stars -->
  <div style="padding-bottom: 15px">
    <strong>Stars</strong>
    <div>
      <app-stars formControlName="stars" lock="false"></app-stars>
    </div>
    <strong>Rates</strong>
    <div>
      <app-rates formControlName="stars" [lock]="company.rated"></app-rates>
    </div>
  </div>

  <!-- Tags -->
  <div style="padding-bottom: 15px">
    <strong>Tags</strong>

    <app-tags 
      title="Tags without ngmodel"
      formControlName="tags"
      (changed)="log($event)">
    </app-tags>

    <app-tags 
      title="Tags with ngmodel"
      formControlName="others" 
      [(ngModel)]="company.tags" 
      (changed)="log($event)">
    </app-tags>

    <div *ngIf="form.get('tags').hasError('empty')" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Tags cannot be empty
    </div>
    
  </div>

  <!-- Submit -->
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<!-- Debug -->
<div style="padding-top: 15px">
  <strong>Debug</strong>
  <pre>{{form.value | json}}</pre>
</div>

